<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>TrustDeals</title>
    <meta name="description" content="Connecting top brands to millions of smart shoppers">
</head>
<body>
    <header class="">
        <div class="space-between v-align-center container">
            <figure>
                <a href="/index.html">
                    <img src="/assets/image/Logo.svg" alt="Trust deals' logo">
                </a>
            </figure>
            <nav>
                <ul class="list-no-style v-align-center">
                    <li><a href="#about-us">About us</a></li>
                    <li><a href="#jobs">Jobs</a></li>
                    <li><a href="#">Partners programs</a></li>
                    <li><a href="/views/form.html">Contact us</a></li>
                </ul>
            </nav>
            <a href="#" class="link-button">Let's talk</a>
        </div>

    </header>
    <main class="container contact-main">
        <div class="row contact-wrapper v-align-top space-between">
            <section>
                <h1>Our contacts</h1>
                <p>
                    Vestibulum magna viverra sed enim interdum pulvinar urna gravida. Mattis porttitor sed malesuada auctor.
                </p>
                <div class="row">
                    <div class="office">
                        <h4>Our office</h4>
                        <p class="text-small">hendrerit mattis euismod </p>
                    </div>
                    <div class="contact">
                        <h4>Contact us</h4>
                        <div class="row">
                            <span>Linkedin</span>
                            <span>email</span>
                        </div>
                    </div>
                </div>
                <a href="#" class="link-button">Support</a>
            </section>
            <form action="/" class="column">
                <h4>Contact us</h4>
                <div>
                    <label for="">Label</label>
                    <input type="text" placeholder="placeholder">
                </div>
                <div>
                    <label for="">Label</label>
                    <input type="text" placeholder="placeholder">
                </div>
                <div>
                    <label for="">Label</label>
                    <textarea placeholder="placeholder" class="input-tall"></textarea>
                </div>
                <div class="checkbox v-align-center">
                    <input type="checkbox">
                    <label for="" class="text-small">Label</label>
                </div>
                <input type="submit" value="Label" class="link-button">
            </form>
        </div>
    </main>
    <footer class="container">
        <div>
            <figure><img src="/assets/image/Logo.svg" alt="TrustDeals Logo"></figure>
            <p class="text-small">
                Odio sed est auctor orci odio est. Aliquet suscipit hendrerit mattis euismod sed. Ornare placerat aliquet phasellus non in et et nam.Odio sed est auctor orci odio est. Aliquet suscipit hendrerit
            </p>
        </div>
        <div class="office">
            <h4>Our office</h4>
            <p class="text-small">hendrerit mattis euismod </p>
        </div>
        <div class="contact">
            <h4>Contact us</h4>
            <div class="row">
                <span>Linkedin</span>
                <span>email</span>
            </div>
        </div>
    </footer>
</body>
</html>